/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-family: 'Barlow', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans',
    'Helvetica', 'Arial', sans-serif;
}

html {
  background: linear-gradient(180deg, hsl(10, 10%, 15%) 60%, hsl(10, 10%, 30%) 100%);
  background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1.625rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.375rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.125rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.paletteTest {
  color: hsl(5, 60%, 20%);
  color: hsl(5, 60%, 35%);
  color: hsl(5, 60%, 50%);
  color: hsl(5, 60%, 65%);
  color: hsl(5, 60%, 80%);
  color: hsla(5, 60%, 80%, 0.3);

  color: hsl(200, 65%, 20%);
  color: hsl(200, 65%, 35%);
  color: hsl(200, 65%, 50%);
  color: hsl(200, 65%, 65%);
  color: hsl(200, 65%, 80%);
  color: hsla(200, 65%, 80%, 0.3);

  color: hsl(50, 85%, 20%);
  color: hsl(50, 85%, 35%);
  color: hsl(50, 85%, 50%);
  color: hsl(50, 85%, 65%);
  color: hsl(50, 85%, 80%);
  color: hsla(50, 85%, 80%, 0.3);

  color: hsl(10, 10%, 15%);
  color: hsl(10, 10%, 30%);
  color: hsl(10, 10%, 45%);
  color: hsl(10, 10%, 60%);
  color: hsl(10, 10%, 75%);

  color: hsl(10, 50%, 50%);
  color: hsl(55, 70%, 50%);
  color: hsl(150, 50%, 50%);

  color: #DEADFACE;
} */
