* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-family: 'Barlow', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans',
    'Helvetica', 'Arial', sans-serif;
}

html {
  background:
    linear-gradient(
      180deg,
      rgb(57, 62, 63) 0%,
      rgb(59, 58, 58) 70%,
      rgb(49, 49, 49) 100%
    );

  /* background: linear-gradient(180deg, hsl(240, 20%, 40%), hsl(240, 15%, 20%)); */
  background-attachment: fixed;
  background-repeat: repeat;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1.625rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.375rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.125rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.paletteTest {
  color: hsl(5, 65%, 25%);
  color: hsl(5, 55%, 40%);
  color: hsl(5, 55%, 55%);
  color: hsl(5, 70%, 70%);
  color: hsl(5, 100%, 80%);

  color: hsl(200, 65%, 25%);
  color: hsl(200, 55%, 40%);
  color: hsl(200, 55%, 55%);
  color: hsl(200, 70%, 70%);
  color: hsl(200, 100%, 80%);

  color: hsl(50, 100%, 15%);
  color: hsl(50, 100%, 35%);
  color: hsl(50, 85%, 55%);
  color: hsl(50, 100%, 80%);
  color: hsl(50, 90%, 80%);

  color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 35%);
  color: hsl(0, 0%, 45%);
  color: hsl(0, 0%, 55%);

  /* color: #DEADFACE; */
}
